# Data load

In [703]:
# https://towardsdatascience.com/interactive-controls-for-jupyter-notebooks-f5c94829aee6
import pandas as pd

jtbc = pd.read_csv("C:/Users/kjh96/Github/crawling_JTBC.csv", encoding="CP949", header=None)
jtbc.columns = ["title","time_play","channel","num_sub","num_view","time_pub","time_crawl"]
jtbc.head(2)

,title,time_play,channel,num_sub,num_view,time_pub,time_crawl
0,제주서 이태원 방문 코로나19 확진자 발생 / JTBC News,0:36,JTBC News,구독자 132만명,조회수 2.2천회,5시간 전,2020/05/10 16:52:08
1,이태원 클럽 방문자 7222명 전수조사 / JTBC News,0:40,JTBC News,구독자 132만명,조회수 2.8천회,5시간 전,2020/05/10 16:52:08

# Data Preprocessing

In [704]:
# 업로드 시간 전처리
jtbc["time_pub"] = jtbc["time_pub"].str.split("(\D+)")

for i in range(len(jtbc)) : 
    if jtbc["time_pub"][i][1] == "일 전" :
        jtbc["time_pub"][i] = int(jtbc["time_pub"][i][0]) * 24
    
    else :
        jtbc["time_pub"][i] = int(jtbc["time_pub"][i][0])
        
jtbc.head(2)

,title,time_play,channel,num_sub,num_view,time_pub,time_crawl
0,제주서 이태원 방문 코로나19 확진자 발생 / JTBC News,0:36,JTBC News,구독자 132만명,조회수 2.2천회,5,2020/05/10 16:52:08
1,이태원 클럽 방문자 7222명 전수조사 / JTBC News,0:40,JTBC News,구독자 132만명,조회수 2.8천회,5,2020/05/10 16:52:08

In [705]:
# 크롤링 시점에서 업로드 시간(hour) 빼기
from datetime import datetime, timedelta
jtbc["time_crawl"] = pd.to_datetime(jtbc["time_crawl"])

for i in range(len(jtbc)) :
    jtbc["time_pub"][i] = jtbc["time_crawl"][i] - timedelta(hours=jtbc["time_pub"][i])


jtbc["time_pub"] = pd.to_datetime(jtbc["time_pub"])
jtbc.head(2)

,title,time_play,channel,num_sub,num_view,time_pub,time_crawl
0,제주서 이태원 방문 코로나19 확진자 발생 / JTBC News,0:36,JTBC News,구독자 132만명,조회수 2.2천회,2020-05-10 11:52:08,2020-05-10 16:52:08
1,이태원 클럽 방문자 7222명 전수조사 / JTBC News,0:40,JTBC News,구독자 132만명,조회수 2.8천회,2020-05-10 11:52:08,2020-05-10 16:52:08

In [706]:
# 조회수 전처리
jtbc["num_view2"] = jtbc["num_view"].str.extract('(\d+\.?\d*)')
jtbc["num_view2"] = pd.to_numeric(jtbc["num_view2"])

for i in range(len(jtbc)) :                                     
    if jtbc["num_view"][i].split()[1].endswith("천회") :
        jtbc["num_view"][i] = jtbc["num_view2"][i] * 1000
        
    elif jtbc["num_view"][i].split()[1].endswith("만회") :
        jtbc["num_view"][i] = jtbc["num_view2"][i] * 10000
    
    else :
        jtbc["num_view"][i] = jtbc["num_view2"][i]
        
jtbc["num_view"] = pd.to_numeric(jtbc["num_view"])
jtbc.head(2)

,title,time_play,channel,num_sub,num_view,time_pub,time_crawl,num_view2
0,제주서 이태원 방문 코로나19 확진자 발생 / JTBC News,0:36,JTBC News,구독자 132만명,2200.0,2020-05-10 11:52:08,2020-05-10 16:52:08,2.2
1,이태원 클럽 방문자 7222명 전수조사 / JTBC News,0:40,JTBC News,구독자 132만명,2800.0,2020-05-10 11:52:08,2020-05-10 16:52:08,2.8

In [707]:
# 영상 길이 전처리
second = []
df['time_play2'] = df['time_play'].str.split(":")

for i in range(len(df['time_play2'])) :
    time = []
    if len(df['time_play2'][i]) == 2 :
        time = int(df['time_play2'][i][0]) * 60 + int(df['time_play2'][i][1])
        second.append(time)
    
    elif len(df['time_play2'][i]) == 3 :
        time = int(df['time_play2'][i][0]) * 3600 + int(df['time_play2'][i][1]) * 60 + int(df['time_play2'][i][2])
        second.append(time)
        
jtbc["time_play_fin"] = pd.DataFrame(second)
jtbc.head(2)

# df['time taken'].str.split(':').apply(lambda x: int(x[0]) * 60 + int(x[1]))
# https://cnpnote.tistory.com/entry/PYTHON-%ED%8C%8C%EC%9D%B4%EC%8D%AC-%ED%8C%AC%EB%8D%94%EB%A5%BC-%EC%82%AC%EC%9A%A9%ED%95%98%EC%97%AC-hh-mm-ss%EB%A5%BC-%EB%AA%87-%EB%B6%84%EC%9C%BC%EB%A1%9C-%EB%B3%80%ED%99%98%ED%95%98%EC%8B%AD%EC%8B%9C%EC%98%A4

,title,time_play,channel,num_sub,num_view,time_pub,time_crawl,num_view2,time_play_fin
0,제주서 이태원 방문 코로나19 확진자 발생 / JTBC News,0:36,JTBC News,구독자 132만명,2200.0,2020-05-10 11:52:08,2020-05-10 16:52:08,2.2,36
1,이태원 클럽 방문자 7222명 전수조사 / JTBC News,0:40,JTBC News,구독자 132만명,2800.0,2020-05-10 11:52:08,2020-05-10 16:52:08,2.8,40

# Visualization widget

In [708]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

import numpy as np
import pandas as pd
import scipy

# import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode
init_notebook_mode(connected=True)

import cufflinks as cf
cf.go_offline(connected=True)
cf.set_config_file(colorscale='plotly', world_readable=True)

# Extra options
pd.options.display.max_rows = 30
pd.options.display.max_columns = 25

# Show all code cells outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# Online features (plotly.plotly) moved to chart-studio package
import chart_studio.plotly as py

import os
from IPython.display import Image, display, HTML

In [709]:
df = jtbc[['title', 'time_play', 'time_play_fin', 'channel', 'num_sub', 'num_view', 'time_pub', 'time_crawl']]
df.head(3)

,title,time_play,time_play_fin,channel,num_sub,num_view,time_pub,time_crawl
0,제주서 이태원 방문 코로나19 확진자 발생 / JTBC News,0:36,36,JTBC News,구독자 132만명,2200.0,2020-05-10 11:52:08,2020-05-10 16:52:08
1,이태원 클럽 방문자 7222명 전수조사 / JTBC News,0:40,40,JTBC News,구독자 132만명,2800.0,2020-05-10 11:52:08,2020-05-10 16:52:08
2,"[취임 3주년 질의응답] ""남북·북미간 신뢰·대화의지 확인하고 있어"" / JTBC ...",5:56,356,JTBC News,구독자 132만명,517.0,2020-05-10 11:52:08,2020-05-10 16:52:08

In [710]:
@interact
def show_articles_more_than(column='num_view', x=7142):
    display(HTML(f'<h2>Showing articles with more than {x} {column}<h2>'))
    display(df.loc[df[column] > x, ['title', 'time_play', 'num_view', 'time_pub']])

interactive(children=(Text(value='num_view', description='column'), IntSlider(value=7142, description='x', max…

In [711]:
# Correlation
@interact
def correlations(column1=list(df.select_dtypes('number').columns), 
                 column2=list(df.select_dtypes('number').columns)):
    print(f"Correlation: {df[column1].corr(df[column2])}")

interactive(children=(Dropdown(description='column1', options=('time_play_fin', 'num_view'), value='time_play_…

In [712]:
### Graph
import cufflinks as cf

@interact
def scatter_plot(x=list(df.select_dtypes('number').columns), 
                 y=list(df.select_dtypes('number').columns)[1:],
                 theme=list(cf.themes.THEMES.keys()), 
                 colorscale=list(cf.colors._scales_names.keys())):
    
    df.iplot(kind='scatter', x=x, y=y, mode='markers', 
             xTitle=x.title(), yTitle=y.title(), 
             text='title',
             title=f'{y.title()} vs {x.title()}',
            theme=theme, colorscale=colorscale)

interactive(children=(Dropdown(description='x', options=('time_play_fin', 'num_view'), value='time_play_fin'),…

In [715]:
df['binned_time_play_fin'] = pd.cut(df['time_play_fin'], bins=range(0, 9000, 100))
df['binned_time_play_fin'] = df['binned_time_play_fin'].astype(str)

df['binned_num_view'] = pd.cut(df['num_view'], bins=range(0, 100000, 1000))
df['binned_num_view'] = df['binned_num_view'].astype(str)

from ipywidgets import interact_manual
@interact_manual
def scatter_plot(x=list(df.select_dtypes('number').columns), 
                 y=list(df.select_dtypes('number').columns)[1:],
                 categories=['binned_time_play_fin', 'binned_num_view'], #, 'publication', 'type'
                 theme=list(cf.themes.THEMES.keys()), 
                 colorscale=list(cf.colors._scales_names.keys())):
    
    df.iplot(kind='scatter', x=x, y=y, mode='markers', 
             categories=categories, 
             xTitle=x.title(), yTitle=y.title(), 
             text='title',
             title=f'{y.title()} vs {x.title()}',
             theme=theme, colorscale=colorscale)

interactive(children=(Dropdown(description='x', options=('time_play_fin', 'num_view'), value='time_play_fin'),…

In [717]:
df.set_index('time_pub', inplace=True)

def print_articles_published(start_date, end_date):
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)
    stat_df = df.loc[(df.index >= start_date) & (df.index <= end_date)].copy()
    total_words = stat_df['num_view'].sum()
    total_read_time = stat_df['time_play_fin'].sum()
    num_articles = len(stat_df)
    print(f'You published {num_articles} articles between {start_date.date()} and {end_date.date()}.')
    print(f'These articles totalled {total_words:,} words and {total_read_time/60:.2f} hours to read.')
    
_ = interact(print_articles_published,
             start_date=widgets.DatePicker(value=pd.to_datetime('2018-01-01')),
             end_date=widgets.DatePicker(value=pd.to_datetime('2020-12-12')))

interactive(children=(DatePicker(value=Timestamp('2018-01-01 00:00:00'), description='start_date'), DatePicker…

In [720]:
def plot_up_to(column, date):
    date = pd.Timestamp(date)
    plot_df = df.loc[df.index <= date].copy()
    plot_df[column].cumsum().iplot(mode='markers+lines', 
                                   xTitle='time',
                                   yTitle=column, 
                                  title=f'Cumulative {column.title()} Until {date.date()}')
    
_ = interact(plot_up_to, column=widgets.Dropdown(options=list(df.select_dtypes('number').columns)), 
             date = widgets.DatePicker(value=pd.to_datetime('2020-05-13')))

interactive(children=(Dropdown(description='column', options=('time_play_fin', 'num_view'), value='time_play_f…

In [722]:
df

,title,time_play,time_play_fin,channel,num_sub,num_view,time_crawl,binned_time_play_fin,binned_num_view
time_pub,,,,,,,,,
2020-05-10 11:52:08,제주서 이태원 방문 코로나19 확진자 발생 / JTBC News,0:36,36,JTBC News,구독자 132만명,2200.0,2020-05-10 16:52:08,"(0, 100]","(2000.0, 3000.0]"
2020-05-10 11:52:08,이태원 클럽 방문자 7222명 전수조사 / JTBC News,0:40,40,JTBC News,구독자 132만명,2800.0,2020-05-10 16:52:08,"(0, 100]","(2000.0, 3000.0]"
2020-05-10 11:52:08,"[취임 3주년 질의응답] ""남북·북미간 신뢰·대화의지 확인하고 있어"" / JTBC ...",5:56,356,JTBC News,구독자 132만명,517.0,2020-05-10 16:52:08,"(300, 400]","(0.0, 1000.0]"
2020-05-10 11:52:08,[문 대통령 취임 3주년 연설] 5월 10일 (일) 뉴스특보 풀영상,47:53,2873,JTBC News,구독자 132만명,29000.0,2020-05-10 16:52:08,"(2800, 2900]","(28000.0, 29000.0]"
2020-05-10 11:52:08,"[취임 3주년 질의응답] 기자 ""디지털화, 일자리 빼앗는단 우려도 있는데…""",3:35,215,JTBC News,구독자 132만명,1000.0,2020-05-10 16:52:08,"(200, 300]","(0.0, 1000.0]"
...,...,...,...,...,...,...,...,...,...
2020-05-08 16:52:08,"[라이브썰전 H/L] 통합당 새 원내대표 주호영…김종배 ""마구잡이 투쟁 없을 것"" ...",5:07,307,JTBC News,구독자 132만명,818.0,2020-05-10 16:52:08,"(300, 400]","(0.0, 1000.0]"
2020-05-08 16:52:08,"[인터뷰] 황운하 ""공수처 취지는 검찰개혁…그래서 윤석열이 1호 수사대상 거론"" /...",14:47,887,JTBC News,구독자 132만명,100000.0,2020-05-10 16:52:08,"(800, 900]",nan
2020-05-08 16:52:08,"법원, 정경심 '구속 연장' 불가 결정…11일 0시 석방 / JTBC 뉴스ON",1:47,107,JTBC News,구독자 132만명,3400.0,2020-05-10 16:52:08,"(100, 200]","(3000.0, 4000.0]"
2020-05-08 16:52:08,"첫 재판 나온 조국 ""검찰 왜곡 하나하나 반박…지치지 않고 싸울 것"" / JTBC...",1:50,110,JTBC News,구독자 132만명,930.0,2020-05-10 16:52:08,"(100, 200]","(0.0, 1000.0]"
2020-05-08 16:52:08,"한국의 '익명 선행' 원하는 일본? ""선의로 받자"" 언론 기고 논란 / JTBC ...",1:22,82,JTBC News,구독자 132만명,10000.0,2020-05-10 16:52:08,"(0, 100]","(9000.0, 10000.0]"

In [732]:
cscales = ['Greys', 'YlGnBu', 'Greens', 'YlOrRd', 'Bluered', 'RdBu',
            'Reds', 'Blues', 'Picnic', 'Rainbow', 'Portland', 'Jet',
            'Hot', 'Blackbody', 'Earth', 'Electric', 'Viridis', 'Cividis']

In [733]:
import plotly.figure_factory as ff

corrs = df.corr()

@interact_manual
def plot_corrs(colorscale=cscales):
    figure = ff.create_annotated_heatmap(z = corrs.round(2).values, 
                                     x =list(corrs.columns), 
                                     y=list(corrs.index), 
                                     colorscale=colorscale,
                                     annotation_text=corrs.round(2).values)
    iplot(figure)

interactive(children=(Dropdown(description='colorscale', options=('Greys', 'YlGnBu', 'Greens', 'YlOrRd', 'Blue…